# Environment variables
.env

# Logs
*.log

# Dependency folders
node_modules/
venv/

# OS files
.DS_Store
Thumbs.db

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# Maven
target/

# Gradle
build/
.gradle/

# IDE
.idea/
*.iml
.vscode/


